
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generic - Projection by TEMPLATED</title>
    <meta charset="utf-8"/>
    <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css"/>

    <script th:src="@{https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js}"></script>
</head>
<body class="subpage">
<header id="header">
    <div class="inner_logo">
        <a href="/static" class="logo"></a>
        <img src="/images/codeback.png"/>
        <nav id="nav">
            <a href="/review/">CodeReview</a>
            <a href="#">ProjectReview</a>
            <button href="#" class="button special" id="show-login">Login</button>
        </nav>
            </nav>
            <a href="#navPanel" class="navPanelToggle">
                <span class="fa fa-bars"></span>
            </a>
        </a>
    </div>
</header>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2 th:text="${codeReview.title}"></h2>
            <div class="row" id="article-info">
                <div class="user-info">
                    <h4 th:text="${codeReview.member}"></h4>
                </div>
                <div class="row">
                    <h4 th:text="${#dates.format(codeReview.createDate, 'yyyy.MM.dd')}" style="margin: 0;"></h4>
                    <a class="icon fa-thumbs-up">
                        <span class="label">thumbsUp</span>
                        <span class="count" th:text="${codeReview.getPreferenceCnt()}"></span>
                    </a>
                </div>
            </div>
        </header>

        <hr class="major"/>

        <div class="question-content">
            <p th:utext="${codeReview.content}"></p>
        </div>
        <div class="inner_button">
            <button class="button special disabled">#java</button>
            <div style="display: flex;gap:20px" class="icon_view">
                <a class="icon fa-pencil"
                   th:reviewId="${codeReview.id}"
                   th:onclick="getMemberInfo(this.getAttribute('reviewId'))"></a>
                <a class="icon fa-trash"
                   th:reviewId="${codeReview.id}"
                   th:onclick="deleteCodeReview(this.getAttribute('reviewId'))"></a>
            </div>
        </div>
        <hr class="major"/>

        <h3 th:text="${codeReview.codeReviewComments.size()} + comments">comments size</h3>
        <div id="comment-container">
            <div th:each="comments : ${codeReview.codeReviewComments}">
                <ul>
                    <li>
                        <div>
                            <h4 th:text="${comments.member.getNickname()}" style="margin: 0;"></h4>
                            <p th:text="${#dates.format(comments.createDate, 'yyyy.MM.dd')}"></p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="icon fa-thumbs-up">
                            <span class="label">thumbsUp</span>
                            <span class="count">0</span>
                        </a>
                    </li>
                </ul>
                <div id="comment1">
                    <p th:utext="${comments.comment}"></p>
                </div>
                <hr class="major"/>
            </div>
        </div>


        <div id="editor"></div>
        <button class="button special" id="submit">submit</button>

        <!-- 에디터 js -->
        <script>
            const Editor = toastui.Editor;

            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });

            document.getElementById('submit').addEventListener('click', () => {
                const content = editor.getHTML();
                console.log(content);
            })
        </script>
    </div>
</section>
<script src="/assets/js/update.js"></script>
</body>
</html>
