<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generic - Projection by TEMPLATED</title>
    <meta charset="utf-8"/>
    <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css"/>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</head>

<div th:replace="view/common/header.html :: header"></div>
<body class="subpage">
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <label for="titleInput"></label>
            <input type="text" id="titleInput" placeholder="제목을 입력하세요"
                   style="border-radius: 0;
                   border: none;
                   border-bottom: 3px solid #aa2c2c;
                   font-size: 30px;">
        </header>
        <div id="editor"></div>
        <hr class="major"/>

        <!-- 에디터 js -->
        <script>
            const Editor = toastui.Editor;

            const editor = new Editor({
                el: document.querySelector('#editor'),
                toolbarItems: [
                    ['heading', 'bold', 'italic', 'strike'],
                    ['hr', 'quote'],
                    ['ul', 'ol', 'task', 'indent', 'outdent'],
                    ['table', 'link'],
                    ['code', 'codeblock'],
                    ['scrollSync'],
                ],
                height: '500px',
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });
        </script>


        <div class="button-container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div class="checkbox-group" th:each="language : ${languages}" style="width: 15%; box-sizing: border-box;">
                <input type="checkbox" th:id="${language.getLanguageName()}"
                       th:value="${language.getId()}"
                       onclick="selectOnlyOne(this)">
                <label th:for="${language.getLanguageName()}" th:text="${language.getLanguageName()}"></label>
            </div>
        </div>
        <hr class="major"/>
        <div class="inner_button">
            <button class="special button" onclick="window.location.href='/review/'">취소</button>
            <button class="button special" onclick="getMemberEmail()">쓰기/수정</button>
        </div>
    </div>
    <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
    <script src="/js/review/write.js"></script>
    <script src="/js/review/getMemberInfo.js"></script>
</section>
</body>
</html>