<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <ul>
        <li th:text="'총 회원 수 : ' + ${memberSummary.getTotalCount()}">totalMemberCount</li>
        <li th:text="'활성화 회원 수 : ' + ${memberSummary.getActiveCount()}">activeMemberCount</li>
        <li th:text="'비활성화 회원 수 : ' + ${memberSummary.getInactiveCount()}">deletedMemberCount</li>
    </ul>

</div>


<br>

<h2>언어별 코드 리뷰 게시글 수</h2>
<div>
    <table>
        <thead>
        <tr>Language Name</tr>
        <tr>Count</tr>
        </thead>

        <tbody th:each="codeReviews:${codeReviewSummaryByLanguage}">
        <tr>
            <td th:text="${codeReviews.languageName}">name</td>
            <td th:text="${codeReviews.totalCount}">count</td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<label>
    <input type="date" id="search-input">
    <button onclick="search()">검색</button>
</label>
<br>

<h2>코드 리뷰 게시글 요약</h2>
<div>
    <table>
        <thead>
        <tr>Month</tr>
        <tr>Count</tr>
        </thead>

        <tbody th:each="codeReviews:${codeReviewSummaryByMonth}">
        <tr>
            <td th:text="${codeReviews.month} + '월'">name</td>
            <td th:text="${codeReviews.count}">count</td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<h2>댓글 요약</h2>
<div>
    <table>
        <thead>
        <tr>Month</tr>
        <tr>Count</tr>
        </thead>

        <tbody th:each="codeReviewComments:${codeReviewCommentSummaryByMonth}">
        <tr>
            <td th:text="${codeReviewComments.month} + '월'">name</td>
            <td th:text="${codeReviewComments.count}">count</td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<h2>좋아요 요약</h2>
<div>
    <table>
        <thead>
        <tr>Month</tr>
        <tr>Count</tr>
        </thead>

        <tbody th:each="codeReviewPreference:${codeReviewPreferenceSummaryByMonth}">
        <tr>
            <td th:text="${codeReviewPreference.month} + '월'">name</td>
            <td th:text="${codeReviewPreference.count}">count</td>
        </tr>
        </tbody>
    </table>
</div>

<script>

    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const searchDate = urlParams.get('searchDate');
        if (searchDate) {
            document.getElementById('search-input').value = searchDate;
        }
    };

    function search() {
        const searchInput = document.getElementById('search-input').value;
        const url = '/admin/summary?searchDate=' + searchInput;
        window.location.href = url;
    }
</script>

</body>
</html>