
.doughnut-chart {
    display: flex;
}

.month-summary-table {
    display: flex;
}

div {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

table {
    margin-top: 15px;
    width: 220px;
}

#code-review-language-summary-table {
    width: 660px;
}

canvas {
    padding-left: 20px;
}