
.doughnut-chart {
    display: flex;
}

.month-summary-table {
    display: flex;
}

div {

}

table {
    margin-top: 15px;
    width: 220px;
}

#code-review-language-summary-table {
    width: 660px;
}

canvas {
    padding-left: 20px;
}