<!DOCTYPE html>
<!--
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>
  <title>Projection by TEMPLATED</title>
  <meta charset="utf-8" />
  <meta
          name="robots"
          content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
    <!-- Header -->
  <div th:replace="/view/common/header :: header"></div>

    <!-- Banner -->
  <body>
    <section id="banner">
      <div class="inner">
        <h1>Welcome to Projection</h1>
        <div class="flex">
          <div>
            <a href="/review/" class="code-review">
              <span class="icon fa-bars"></span>
              <h3>Code Review</h3>
              <p>코드 리뷰를 받아보세요</p>
            </a>
          </div>

          <div>
            <a href="#" class="project-review">
              <span class="icon fa-users"></span>
              <h3>Project Review</h3>
              <p>프로젝트 리뷰를 받아보세요</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
