<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:each="dtoSample : ${dtoSamples}">

    <div>
        <h2 th:text="${dtoSample.title}">title</h2>
        <div>
        이름 : <span th:text="${dtoSample.nickname}">nickname</span>
        작성날짜 : <span th:text="${#dates.format(dtoSample.createDate, 'yyyy-MM-dd')}">create date</span>
        언어 : <span th:text="${dtoSample.codeLanguageName}">code language</span>
        </div>

        <p></p>

        <div th:text="${dtoSample.content}">
            content
        </div>
    </div>

</div>

</body>
</html>