<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generic - Projection by TEMPLATED</title>
    <meta charset="utf-8"/>
    <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css"/>

    <script th:src="@{https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js}"></script>
</head>
<body class="subpage">
<header id="header">
    <div class="inner">
        <a href="/" class="logo">
            <img src="/images/codeback.png" alt="logo"/>
            <nav id="nav">
                <a class="login-btn">
                    <button href="/" class="button special">Login</button>
                </a>
            </nav>
            <a href="#navPanel" class="navPanelToggle">
                <span class="fa fa-bars"></span>
            </a>
        </a>
    </div>
</header>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2 th:text="${codeReview.title}"></h2>
            <div class="row" id="article-info">
                <div class="user-info">
                    <h4 th:text="${codeReview.writer}"></h4>
                </div>
                <div class="row">
                    <h4 th:text="${#temporals.format(codeReview.createDate, 'yyyy.MM.dd')}" style="margin: 0;"></h4>
                    <a class="icon fa-thumbs-up">
                        <span class="label">thumbsUp</span>
                        <span class="count">5</span>
                    </a>
                </div>
            </div>
            <hr class="major"/>
        </header>
        <div class="question-content">
            <p th:text="${codeReview.content}"></p>
        </div>
        <div class="button-container">
            <button class="button special disabled">#java</button>

        </div>
        <hr class="major"/>


        <div id="editor"></div>
        <button class="button special" id="submit">submit</button>

        <!-- 에디터 js -->
        <script>
            const Editor = toastui.Editor;

            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });

            document.getElementById('submit').addEventListener('click', () => {
                const content = editor.getHTML();
                console.log(content);
            })
        </script>

        <hr class="major"/>

        <h5>2 comments</h5>
        <div id="comment-container">
            <div th:each="comments : ${comments}">
                <hr/>
                <ul>
                    <li>
                        <div>
                            <h4 th:text="${comments.comment_writer}" style="margin: 0;"></h4>
                            <p th:text="${#temporals.format(comments.comment_createDate, 'yyyy.MM.dd')}"></p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="icon fa-thumbs-up">
                            <span class="label">thumbsUp</span>
                            <span class="count">0</span>
                        </a>
                    </li>
                </ul>
                <div id="comment1">
                    <p th:text="${comments.comment_content}"/>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
