<!DOCTYPE html>
<html>
<head>
    <title>Generic - Projection by TEMPLATED</title>
    <meta charset="utf-8"/>
    <meta
            name="robots"
            content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/login.css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css"/>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</head>

<body class="subpage">
<header id="header">
    <div class="inner_logo">
        <a href="/static" class="logo"></a>
        <img src="/images/codeback2.png"/>
        <nav id="nav">
            <a href="#">CodeReview</a>
            <a href="#">ProjectReview</a>
            <button href="#" class="button special" id="show-login">Login</button>
                <!-- 로그인 팝업 -->
                <div class="popup">
                    <div class="close-btn">&times;</div>
                    <!-- 로그인 폼 -->
                    <div class="form login-form">
                        <h2>로그인</h2>
                        <div class="form-element">
                            <label for="email">이메일 로그인</label>
                            <form>
                            <input type="text" id="email" placeholder="Enter email"><br>
                                <button class="login-button">로그인</button>
                            </form>
                        </div>
                        <div class="OAuth">
                            <label for="email">소셜 계정으로 로그인</label>

                            <a href="#" class="OAuth-box">
                                <span class="icon fa-github"></span>
                            </a>
                            <a href="#" class="OAuth-box">
                                <span class="icon fa-google"></span>
                            </a>
                        </div>
                        <p>아직 회원이 아니신가요? <a href="#" id="show-signup-form">회원가입</a></p>
                    </div>

                    <!-- 회원가입 폼 -->
                    <div class="form signup-form" style="display: none;">
                        <h2>회원가입</h2>
                        <div class="form-element">
                            <label for="signup-email">이메일 회원가입</label>
                            <form>
                                <input type="text" id="signup-email" placeholder="Enter email"><br>
                                <button class="login-button">회원가입</button>
                            </form>
                            <div class="OAuth">
                                <label for="email">소셜 계정으로 회원가입</label>

                                <a href="#" class="OAuth-box">
                                    <span class="icon fa-github"></span>
                                </a>
                                <a href="#" class="OAuth-box">
                                    <span class="icon fa-google"></span>
                                </a>
                            </div>
                        <p>이미 계정이 있으신가요? <a href="#" id="show-login-form">로그인</a></p>
                    </div>
                </div>
                <!--    로그인 js-->
                <script src="../../static/assets/js/popup.js"></script>

                <!--    로그인 js 끝-->
</header>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <input type="text" id="titleInput" placeholder="제목을 입력하세요">
        </header>
        <hr class="major"/>


        <div id="editor"></div>

        <hr class="major"/>

        <!-- 에디터 js -->
        <script>
            const Editor = toastui.Editor;

            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });

            document.getElementById('submit').addEventListener('click', () => {
                const content = editor.getHTML();
                console.log(content);
            })
        </script>
        <div class="button-container">
            <input type="checkbox" id="demo-copy" class="single-checkbox">
            <label for="demo-copy">#JAVA</label>

            <input type="checkbox" id="demo-copy1" class="single-checkbox">
            <label for="demo-copy1">#PYTHON</label>

            <input type="checkbox" id="demo-copy2" class="single-checkbox">
            <label for="demo-copy2">#JAVASCRIPT</label>

            <input type="checkbox" id="demo-copy3" class="single-checkbox">
            <label for="demo-copy3">#SQL</label>

            <input type="checkbox" id="demo-copy4" class="single-checkbox">
            <label for="demo-copy4">#C++</label>
        </div>
        <script>
            document.querySelectorAll('.single-checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    if (this.checked) {
                        document.querySelectorAll('.single-checkbox').forEach(otherCheckbox => {
                            if (otherCheckbox !== this) {
                                otherCheckbox.checked = false;
                            }
                        });
                    }
                });
            });
        </script>
        <hr class="major"/>
        <div class="inner_button">
            <button href="#" class="button">취소</button>
            <button href="#" class="button special">쓰기/수정</button>
        </div>
    </div>
</section>
</body>
</html>